<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathExcel" value="C:\Users\DELL\Desktop\DTI - SURA\SRO\sroreport.github.io\Reports"/>
    <add key="pathHtml" value="C:\Users\DELL\Desktop\DTI - SURA\SRO\sroreport.github.io"/>
    <add key="intervaloExcel" value="A2:F24"/>
    <add key="AP. PLC" value="Apólices"/>
    <add key="AP. AFF" value="Apólices"/>
    <add key="CERT. AFFINITY" value="Certificados"/>
    <add key="AP. RISC DIVER " value="Apólices"/>
    <add key="CERT. RISC DIVER" value="Certificados"/>
    <add key="AP. GARANTIA EST." value="Apólices"/>
    <add key="CERT. GARANTIA EST." value="Certificados"/>
    <add key="AP. VID" value="Apólices"/>
    <add key="CERT. VID" value="Certificados"/>
    <add key="AP. AUT" value="Apólices"/>
    <add key="AUT" value="Complementar Auto"/>
    <add key="AP. TRP" value="Apólices"/>
    <add key="AVERB. TRP" value="Averbações"/>
    <add key="COS" value="Apólices"/>
    <add key="RAD" value="Apólices"/>
    <add key="MOV. PREMIOS" value="Mov. Prêmios"/>
    <add key="MOV. SINISTROS" value="Mov. Sinistros"/>
    <add key="PROC. DE SINISTROS" value="A2:F24"/>
    <add key="RESSEG CONT" value="Contratos"/>
    <add key="RESSEG MOV" value="Movimentações"/>
    <add key="RESSEG VINC" value="Vínculo e Desvinculo"/>
    <add key="RESSEG PREST_CONTAS" value="Prestação de Contas"/>
    <add key="TOTAL"  value="Total"/>
  </appSettings>
</configuration>
